body {
    background: rgb(0, 109, 252);
    background: linear-gradient(0deg, rgb(0, 202, 252) 6%, rgb(153, 222, 253) 50%, rgb(0, 153, 255) 98%);
}

h1{
    text-align: center;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    background-color: beige;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    margin: 7px;
    padding: 25px;
    border-radius: 15px;
}

.in {
    background-color: rgb(82, 82, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 7px;
    padding: 25px;
    border-radius: 15px;
}

ul {
    background-color: rgb(82, 82, 83);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 7px;
    padding: 25px;
    border-radius: 15px;
}

img {
    align-items: center;
    justify-content: center;
    border: solid black 3px;
}

table {
    display: flex;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 7px;
    padding: 25px;
    border-radius: 8px;
}

.tabla {
    background-color: rgb(255, 255, 255);
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
}
